body.body-formulario {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        to bottom,
        #215664,
        #43AECA
    );
}
.cadastro {
    min-height: 93.5vh;
}

.cadastro .container {
    width: 100%;
    min-height: 93.5vh;
    display: flex;
}
.card {
    width: 37%;
    min-height: 93.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inicio-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.inicio-cadastro img {
  width: 8.0vw;
  height: 15.0vh;
}
.inicio-cadastro h2 {
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    color: #215664;
}
.inicio-cadastro h3 {
    width: 65%;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #215664;
}
.formulario {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-top: 6vh;
    align-items: center;
}
.campo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario input {
    width: 95%;
    height: 6.5vh;
    box-sizing: border-box;
    padding: 0 0.7vw;
    border: 0.05rem solid #215664;
    font-size: 0.7rem;
    align-items: center;
}
.botao {
    width: 95%;
    height: 6.5vh;
    border: 0;
    background-color: #215664;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}
.imagem-login {
 width: 63%;
    min-height: 93.5vh;
    position: relative;
    overflow: hidden;
}
.img-grade {
    position: absolute;
    width: 37.3vw;
    height: 68.9vh;
    top: 2vh;
    left: 0;
}
.img-circulo {
    position: absolute;
    width: 33.2vw;
    height: 54vh;
    right: -7vw;
    bottom: -8vh;
}
.textos-login {
    position: absolute;
    top: 25vh;
    left: 57%;
    font-family: "Sora", sans-serif;
    color: white;
}
.textos-login h1 {
    width: 19vw;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.25;
}
.linha-login {
    width: 3vw;
    height: 0.7vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-color: #43AECA;
}
.textos-login p {
    width: 16.4vw;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4;
}
.img-caracol {
    position: absolute;
    width: 28.92vw;
    height: auto;
    top: 2vh;
    left: 0;
}
.img-circulo2 {
    position: absolute;
    width: 33.2vw;
    height: 54vh;
    right: -7vw;
    bottom: -8vh;
}