body.body-formulario {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        to bottom,
        #215664,
        #43AECA
    );
}
.cadastro {
    min-height: 93.5vh;
}

.cadastro .container {
    width: 100%;
    min-height: 93.5vh;
    display: flex;
}
.card {
    width: 37%;
    min-height: 93.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inicio-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.inicio-cadastro img {
  width: 8.0vw;
  height: 15.0vh;
}
.inicio-cadastro h2 {
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    color: #215664;
}
.inicio-cadastro h3 {
    width: 65%;
    margin: 0;
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #215664;
}
.formulario {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-top: 6vh;
    align-items: center;
}
.campo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario input {
    width: 95%;
    height: 6.5vh;
    box-sizing: border-box;
    padding: 0 0.7vw;
    border: 0.05rem solid #215664;
    font-size: 0.7rem;
    align-items: center;
}
.botao {
    width: 95%;
    height: 6.5vh;
    border: 0;
    background-color: #215664;
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}
