.footer-nautilus {
  background-color: #215664;
}

.footer-nautilus h6 {
  font-size: 1.05rem;
  letter-spacing: 0.5px;
}

.footer-link {
  color: #ffffff;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.footer-link:hover {
  color: #42B8C4; 
}

.footer-linha-longa {
  border-top: 2px solid #ffffff;
}

.footer-link-bottom {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.footer-link-bottom:hover {
  color: #42B8C4;
}