@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
}

main {
    padding: 40px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0F172A;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    width: 90px;
    transition: width 0.3s ease;
    overflow: hidden;
}

#sidebar:hover {
    width: 260px;
}

#sidebar_content {
    padding: 12px;
}


#logo_sidebar {
    width: 45px;
    height: 45px;
    object-fit: contain;
    transition: all 0.3s ease;
}


#sidebar:hover #logo_sidebar {
    width: 70px;
    height: 65px;
    object-fit: contain;
}

#logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo_infos {
    display: flex;
    flex-direction: column;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

#logo_infos span {
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #0E5E75;
}

.side-item:hover:not(:active) {
    background-color: #0A3146;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    color: #94A3B8;
}

.side-item.active a {
    color: #ffffff;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 25px;
    transition: opacity 0.3s ease;
}

#sidebar:hover .item-description {
    width: auto;
    opacity: 1;
}

#sidebar:hover #logo_infos {
    opacity: 1;
}

#sidebar.open-sidebar {
    min-width: 15%;
}