@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
}

main {
    padding: 40px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0F172A;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    width: 90px;
    transition: width 0.3s ease;
    overflow: hidden;
}

#sidebar:hover {
    width: 210px;
}

#sidebar_content {
    padding: 12px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#logo_sidebar {
    width: 45px;
    height: 45px;
    object-fit: contain;
    transition: all 0.3s ease;
    flex-shrink: 0;
}


#sidebar:hover #logo_sidebar {
    width: 40px;
    height: 40px;
    margin: 0;
   
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo_infos {
    display: flex;
    flex-direction: column;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

#logo_infos span {
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    width: 100%;
    padding: 0 12px;
}

.side-item {
    border-radius: 8px;
    padding: 12px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.side-item.active {
    background-color: #0E5E75;
}

.side-item:hover:not(:active) {
    background-color: #0A3146;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: #94A3B8;
}

.side-item.active a {
    color: #ffffff;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 24px;
    font-size: 20px;
    flex-shrink: 0;
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: opacity 0.3s ease;
}

#sidebar:hover .item-description {
    width: auto;
    opacity: 1;
}

#sidebar:hover #logo_infos {
    opacity: 1;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

/*Header*/


#main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F8FAFC;
    min-width: 0; 
}

.top-header {
    height: 48px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding: 0 24px;
    border-bottom: 1px solid #E2E8F0;
    flex-shrink: 0; 
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 20px;
    transition: background-color 0.2s ease;
    gap: 8px;
}

.user-profile:hover {
    background-color: #F1F5F9;
}


.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #E2E8F0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #475569;
    font-size: 12px;
}


.user-name {
    font-size: 12px;
    font-weight: 500;
    color: #334155;
}

/* Página e Títulos */


.page-content {
    padding: 16px 28px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.back-link {
    color: #0E5E75;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
    color: #0F172A;
    margin-top: 4px;
}

.page-subtitle {
    color: #64748B;
    font-size: 12px;
    margin-bottom: 12px;
}

.form-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid #E2E8F0;
}

.form-section {
    display: flex;
    gap: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #F1F5F9;
}


.step-badge {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ECFDF5;
    color: #0D9488;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.section-body {
    flex: 1;
}

.section-title {
    font-size: 13px;
    font-weight: 600;
    color: #0F172A;
}

.section-subtitle {
    font-size: 11px;
    color: #64748B;
    margin-bottom: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 14px;
}

.form-grid.align-center {
    align-items: flex-end;
    grid-template-columns: 1fr 1.5fr;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-group.full-width {
    grid-column: span 3;
}

.label {
    font-size: 11px;
    font-weight: 600;
    color: #1e293b;
}

.required {
    color: #ef4444;
}

input[type="text"],
select,textarea {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    font-size: 12px;
    color: #0f172A;
    outline: none;
    transition: border-color 0.2s ease;
}

input::placeholder,
textarea::placeholder {
    color: #94A3B8;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #0E5E75;
}

textarea {
    min-height: 52px;
    resize: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    background-color: #ffffff;
    cursor: pointer;
}

.select-wrapper::after {
    content: "⌵";
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #64748B;
    font-size: 11px;
}


/* Botão de cadastrar*/
.info-alert {
    background-color: #ECFDF5;
    border: 1px solid #A7F3D0;
    color: #047857;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 31px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #F1F5F9;
}

.btn {
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn-secondary {
    background-color: #F1F5F9;
    color: #475569;
}

.btn-primary {
    background-color: #0E5E75;
    color: #FFFFFF;
}